*::before,
*::after{
    box-sizing: border-box;
}
*:focus:not(:focus-visible){
    outline: none;
}
html, body{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    scroll-behavior: smooth;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
ul{
    padding-left: 0rem;
}
ul>li{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
.container{
    width: 120rem;
    margin: 0 auto;
}
.header{
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
    padding-top: 2.3rem;
    padding-bottom: 2.6rem;
    color:  #FFFFFF;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 63%;
}
.header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__telephone-img{
    width: 2rem;
    height: 2rem;
}
.header__map-img{
    width: 1.5rem;
    height: 2.5rem;
}
.header__inst-img{
    width: 3rem;
    height: 3rem;
}
.header__telephone-img,
.header__map-img,
.header__inst-img{
    margin-right: 1.5rem;
}
.header__inst span{
    line-height: 100%;
}
.header__map span{
    line-height: 107%;
}
.vel{
    padding-right: 1.2rem;
}
.header__map,
.header__telephone,
.header__inst{
    display: flex;
    align-items: center;
}
.main-display__logo{
    display: flex;
    align-items: center;
}
.main-display__logo-img{
    width: 10rem;
    height: 6rem;
    margin-right:1.1rem;
}
.main-display__logo-text{
    font-style: italic;
    font-weight: 900;
    font-size: 3.6rem;
    line-height: 117%;
}
.main-display__list{
    display: flex;
}
.main-display__list li:not(:last-child){
    margin-right: 2.5rem;
}
.main-display__list li{
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 117%;
}
.main-disp{
    padding-top: 4.7rem;
}
.main-display__wrap{
    position: relative;
}
.main-display__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-display__body{
    display: flex;
    justify-content: space-between;
}
.main-display__body-back1{
    width: 74.5rem;
    height: 52.2rem;
    left: 94%;
    top: 31%;
}
.main-display__header{
    font-weight: 900;
    font-size: 5rem;
    line-height: 118%;
    margin-bottom: 1rem;
    margin: 0;
}
.main-display__body-back1{
    position: absolute;
    top:52%;
    left:74%;
    transform: translate(-50%,-50%);
    width: 74.5rem;
    height: 52.2rem;
}
.main-display__body-back2{
    position: absolute;
    top:158%;
    left:15%;
    transform: translate(-50%,-50%);
    width: 75.7rem;
    height: 58.1rem;
}
.main-diplay__subheader{
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 117%;
    margin-bottom: 2rem;
}
.main-display__button{
    font-weight: 900;
    font-size: 2rem;
    color: #FFFFFF;
    line-height: 115%;
    text-align: center;
    outline: none;
    border: 0;
    padding: 1.5rem 3rem;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    border-radius: 0.7rem; 
    cursor: pointer;
}
.main-display__body-left{
    padding-top: 19rem;
}
.main-display__body-rigth{
    width: 53.3rem;
    height: 68.6rem;
}
.about__header{
    margin-bottom: 10rem;
    font-size: 5rem;
    font-weight: 400;
    line-height: 118%;
    text-align: center;
}
.about__header span{
    background:linear-gradient(90deg,rgba(185,1,96,1) 0%,rgba(61,91,245,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.about__items{
    display: grid;
    grid-template-columns: repeat(3,28%);
    gap: 0 6.1rem;
}
.about__item{
    box-shadow: 0px 0px 40px rgba(184,0,95,0.2);
    border-radius:0.9rem;
    overflow: hidden;;
}
.about__item-img{
    width: 100%;
    height: 21.5rem;
}
.about__item-img img{
    object-fit: cover;
}
.about__item-head{
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 117%;
}
.about__item-text{
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 114%;
    color: #767676;
}
.about__item-desc{
    padding:5%;
}
.review{
    margin-top: 22.5rem;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
}
.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 5rem;

}
.review__slide{
    background: #FFFFFF;
    box-shadow: 0rem 0rem 3rem rgba(0, 0, 0, 0.25);
    border-radius: 0.9rem;
    width: 53.6rem;
    min-height: 18.7rem;
    padding:6.3rem 4.5rem 2rem 4.3rem;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    margin-top: 9.8rem;
    margin-bottom: 7.2rem;
}
.review__slide-photo{
    clip-path: polygon(50% 5%, 98% 31%, 98% 69%, 50% 96%, 1% 67%, 1% 33%);
    width: 10.5rem;
    height: 12.5rem;
}
.review__slide-img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    top: -43%;
    left: 50%;
    transform: translate(-50%,45%);
    clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%, 0 30%);
    width: 10.7rem;
    height: 12.4rem;
    border-radius: 2rem; 
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
}
.review__slide-text{
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 117%;
    text-align: center;
}
.review__slide-text:after{
    content: '';
    display: block;
    height: 0.2rem;
    width: 13rem;
    position: absolute;
    top:65%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
}
.review__slide-name{
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 115%;
    text-align: center;
    color: #8E8E8E;
}
.footer__inst-img{
    width: 3.3rem;
    height: 3.3rem;
}
.footer{
    position:relative;
}
.footer__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12rem;
    padding-left: 12rem;
    padding-top: 17.2rem;
    padding-bottom: 8.4rem;
}
.footer__tel li{
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 114%;
}
.footer_adress li{
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 114%;
}
.footer_adress li:nth-child(3){
    margin-bottom: 1.7rem;
}
.footer__header{
    margin-bottom:1rem;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 114%;
}
.footer__dec-small{
    position: absolute;
    left:10%;
    top:47%;
    transform: translate(-50%,-50%);
    width: 11rem;
    height: 12.5rem;
}
.footer__dec-big{
    position: absolute;
    left:85%;
    top:47%;
    transform: translate(-50%,-50%);
    width: 23rem;
    height: 26rem;
}